* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: 'Hermooun';
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  
  @media (min-width: 768px) {
    font-size: 10rem;
    letter-spacing: 0.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 12rem;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 900;
  @media (min-width: 768px) {
    font-size: 2.5em;
  }
  @media (min-width: 1024px) {
    font-size: 3em;
  }
}